body {
  font-family: Helvetica;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  appearance: none;
  background-color: #ccc;
  border: solid 1px #888;
  padding: 10px;
  border-radius: 5px;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}